.proyectos-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f4f4;
}

.proyectos-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las columnas */
}

.proyectos-col {
  width: calc(25% - 20px); /* Esto asegura que cada tarjeta ocupe el 25% menos el espaciado */
  margin-bottom: 20px;
}

.proyectos-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  height: 100%;
}

.proyectos-card-img-top {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.proyectos-card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.proyectos-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.proyectos-card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.proyectos-card-text strong {
  font-weight: bold;
}

.proyectos-card-body > .proyectos-card-text:last-child {
  margin-bottom: 15px;
}

.proyectos-card a {
  margin-top: auto;
  margin-bottom: 10px;
  align-self: flex-start;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .proyectos-col {
    width: calc(100% - 20px); /* Hace que las tarjetas ocupen el 100% del ancho en pantallas pequeñas */
  }
}
