/* BackgroundWithOverlay.css */

/* Efecto de encendido tipo TV */
/* Efecto de carga */
.loading-effect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: 9999;
    animation: tv-on 6s ease-out forwards;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    pointer-events: none; /* No interactúa con los elementos de fondo */
  }
  
  /* Texto del efecto de carga */
  .loading-effect h1 {
    font-size: 2rem; /* Tamaño del texto */
    margin: 0;
  }
  
  /* Subtexto del efecto de carga */
  .loading-effect span {
    margin-top: 1rem;
    font-size: 1.5rem;
    animation: blink 1.5s infinite;
    color: white;
  }
  
  /* Animación de parpadeo */
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .rotating-image{
    width: 25%;
    left: 50%;
    top: 40%;
    animation: rotate 5s infinite linear;
  }
  
  /* Animación de encendido tipo TV */
  @keyframes tv-on {
    0% {
      height: 100%;
    }
    50% {
      height: 5%;
    }
    70% {
      height: 20%;
    }
    100% {
      height: 0%;
    }
  }
  
  /* Animación de parpadeo del texto */
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  /* BackgroundWithOverlay.css */
@keyframes rotate {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(360deg);
    }
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  
    .rotating-image {
      max-width: 40%;
      bottom: 20%;
      top: 60%;
    }
  
    /* Ocultar imagen de robot en pantallas pequeñas */
    .overlay-image {
      display: none;
    }
  
    /* Ocultar imagen al lado del texto en pantallas pequeñas */
    .side-image {
      display: none;
    }
  }
  
  /* Media query para pantallas muy pequeñas (375x667 o menos) */
  @media (max-width: 830px) {
    h1 {
      font-size: 1.3rem; /* Texto más pequeño */
    }
  
    p {
      font-size: 1rem; /* Texto más pequeño */
    }
  
    .rotating-image {
      max-width: 50%;
      bottom: 25%;
      top: 50%;
    }
  
    .overlay-image {
      display: none;
    }
    .skills-container{
        display: none;
    }
  
    .side-image {
      display: none;
    }
  }
  @media (max-width: 375px) {
    h1 {
      font-size: 1.3rem; /* Texto más pequeño */
    }
  
    p {
      font-size: 1rem; /* Texto más pequeño */
    }
  
    .rotating-image {
      display: absolute;
      max-width: 50%;
      bottom: 25%;
      top: 70%;
    }
  
    .overlay-image {
      display: none;
    }
  
    .side-image {
      display: none;
    }
    .skills-container{
        display: none;
    }
    
  }
  @media (max-width: 390px) {
    h1 {
      font-size: 1.3rem; /* Texto más pequeño */
    }
  
    p {
      font-size: 1rem; /* Texto más pequeño */
    }
  
    .rotating-image {
      display: absolute;
      max-width: 50%;
      bottom: 25%;
      top: 50%;
    }
  
    .overlay-image {
      display: none;
    }
  
    .side-image {
      display: none;
    }
    .skills-container{
        display: none;
    }
    
  }

/* Contenedor principal */
.skills-container {
    background-color: #121314; /* Fondo oscuro */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; /* Aumentamos el ancho del contenedor */
    max-width: 400px; /* Aumentamos el ancho máximo */
    position: absolute; /* Posicionamos el contenedor de manera absoluta */
    bottom: 2%; /* Lo bajamos un poco para que esté cerca del pie de página */
    right: 5%; /* Lo movemos un poco hacia la derecha */
    text-align: center;
    z-index: 5; /* Aseguramos que esté encima de otras capas */
  }
  
  .skills-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
  }
  
  /* Grid de habilidades */
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem; /* Espacio entre elementos */
    justify-content: center;
    align-items: center;
  }
  
  /* Elemento individual */
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Imagen */
  .skill-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  
  /* Nombre de la habilidad */
  .skill-name {
    font-size: 1.1rem;
    color: #b0b3b8;
    margin: 0;
  }
  
  /* Ajustes para pantallas pequeñas */
  @media (max-width: 576px) {
    .skills-container {
      padding: 1rem;
      width: 95%; /* Aumentamos el ancho en pantallas pequeñas */
    }
  
    .skills-title {
      font-size: 1.5rem;
    }
  
    .skill-image {
      width: 60px;
      height: 60px;
    }
  
    .skill-name {
      font-size: 0.9rem;
    }
  }
  .contenedor-texto-moderno {
    display: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Centrado vertical */
    color: #ffffff;
    top: 40%;
    text-shadow: 0 0 10px #00f3ff, 0 0 20px #00f3ff, 0 0 30px #00f3ff;
  }
  
  .titulo-neon {
    font-size: 3rem; /* Tamaño grande */
    color: #00f3ff; /* Neón */
    text-shadow: 0 0 10px #00f3ff, 0 0 20px #00f3ff, 0 0 30px #00f3ff,
      0 0 40px #00f3ff, 0 0 50px #00f3ff;
    animation: neon-flicker 1.5s infinite alternate;
    font-family: 'Doto', sans-serif;

  }
  
  .subtitulo-neon {
    font-size: 1.8rem;
    font-style: italic;
    color: #00e1a4;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 0 0 10px #00e1a4, 0 0 20px #00e1a4, 0 0 30px #00e1a4;
  }
  
  .texto-simple {
    font-size: 1.2rem;
    font-weight: 300;
    color: #cccccc;
    margin-top: 1rem;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  @keyframes neon-flicker {
    0% {
      text-shadow: 0 0 5px #00f3ff, 0 0 10px #00f3ff, 0 0 20px #00f3ff,
        0 0 30px #00f3ff, 0 0 40px #00f3ff;
    }
    100% {
      text-shadow: 0 0 10px #00f3ff, 0 0 20px #00f3ff, 0 0 30px #00f3ff,
        0 0 50px #00f3ff, 0 0 60px #00f3ff;
    }
  }
  